/*hello styles*/


table.gameTable {
    float:left;
}

table.gameTable td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

table.gameTable td.Tower {
    background-color: red;
}


table.gameTable td.Player {
    background-color: blue;
}


table.gameTable td.Goal {
    background-color: green;
}


textarea#plan {
    float: left;
    height: 20em;
    font-size: 20pt;
}

button#run {
    font-size: 30pt;
}
